body {
    font-family: 'garamond';
}



h1 {
    color: blue;
}


.boks {
    height: 200px;
    width: 300px;
    border: solid 1px gray;
    background-color: blue;
}
.boks input:hover {
  background-color:red;
}

.boks input {
    margin-left: 50px;
    margin-top: 70px;

    background-color:green;
    color: blue;
    padding: 10px;

    border: 3px solid white;
}



img {
    width: 350px;
}
